<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Generated</title>

</head>
<body>
    <div style="display: flex;justify-content: center;align-items: center;gap: 1rem;">
      
        <img style="width: 150px;" src="https://www.gphtest.com/static/media/logo-new.a20cd3e1ea210b6e90b3.png"/>
    </div>
    <div style="color: black;">

        <a href="<%= url %>">Reset your password</a>
        <p>If you didn't forget your password, please ignore this email!</p>
      
        <div>

            <p> Glacier Peak Holistics</p>
             <p>
                 <a href="https://glacierpeakholistics.com/"
                   >https://glacierpeakholistics.com/</a
                 >
               </p>
               <p>
                 <a href="info@glacierpeakholistics.com"
                   >info@glacierpeakholistics.com</a
                 >
               </p>
               <p>
                 <a href="www.facebook.com/glacierpeakholistics"
                   >www.facebook.com/glacierpeakholistics</a
                 >
               </p>
         </div>
    </div>
</body>
</html>
